<!DOCTYPE html>
<html>

<head>
  <title>Programmes activités adultes</title>
  <meta name="description"
    content="Envie de faire une activité bricolage, danse, informatique, théâtre, marche, d'apprendre l'anglais...">
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/Accueil/logo.png" alt="logo">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">


</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <!-- Barre de navigation -->
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./images/Accueil/logo.png" alt="logo" style="height: 50px; border-radius: 10%;"
              class="d-fluid align-center">
            Centre Social Louise Michel
          </a>

          <!-- Menu -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Accueil</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Programmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/periscolaire">Périscolaire</a></li>
                      <li><a class="dropdown-item" href="/HalteGarderie">Petite enfance</a></li>
                      <li><a class="dropdown-item" href="/prog-enfant">Enfants</a></li>
                      <li><a class="dropdown-item" href="/prog-adolescents">Adolescents</a></li>
                      <li><a class="dropdown-item" href="/periscolaire">Adultes</a></li>
                      <li><a class="dropdown-item" href="/Familles">Familles</a></li>
                      <!-- Vacances scolaires à mettre en com dès en fc des vacances -->
                      <!-- <li><a class="dropdown-item" href="#">Les vacances scolaires</a></li> -->
                    </ul>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/tarifs">Nos tarifs</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/Qui">Qui sommes nous?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/partenaires">Nos partenaires</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/Nous-contacter">Nous contacter</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <!-- Bienvenue -->
      <h1>Bienvenue au centre social Louise Michel</h1>
      
      <!-- SLIDE -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner col-12">
          <div class="carousel-item active">
            <img src="./images/Accueil/centre.jpg" class="d-fluid w-100" alt="centre">
          </div>
          <div class="carousel-item">
            <img src="./images/Accueil/annexe.jpg" class="d-fluid w-100" alt="annexe">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      
        <div class="container col-md-8">
        <div class="row" >
      <!-- Titre Activités adultes-->
      <h4 class="text-center" style="color: rgb(0, 0, 0); margin-top: 25px; font-size: 50px;">Les activités adultes</h4>

       <!-- Titre Loisirs artistiques et culturels -->
       <h3 class="text-center" style="color: rgb(0, 0, 0); margin-top: 20px;" id="culturel">Loisirs artistiques et culturels</h3>
      
      <!-- Atelier théâtre -->
          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/theatre2.jpg"
                style="width: auto; height: auto;" alt="activité danse contemporaine">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/theatre2.jpg" class="profile-avatar" alt="atelier danse contemporaine">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;">Atelier Théâtre</h4>
                <div class="card-text">
                  <br><b>Les mercredis </b> de 18h30 à 20h00
                  <br>Textes, mimes, parodies et écriture résument cet atelier aussi riche que varié ! 
                  <br>Rire garanti !
                  <!-- <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">Ecriture de la danse, créativité
                    et variation ou chacun peut s'exprimer suivant sa condition physique et son niveau.
                    <br>
                    <br>
                  </h6> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Atelier Danse contemporaine -->
          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/dance-4819295_1920.jpg"
                style="width: auto; height: auto;" alt="activité danse contemporaine">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/dance-4819295_1920.jpg" class="profile-avatar" alt="atelier danse contemporaine">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;">Atelier danse</h4>
                <div class="card-text">
                  <br><b>Les lundis </b> de 19h à 20h30.
                  <br>
                  <br>
                  <!-- <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">Ecriture de la danse, créativité
                    et variation ou chacun peut s'exprimer suivant sa condition physique et son niveau.
                    <br>
                    <br>
                  </h6> -->
                </div>
              </div>
            </div>
          </div>



                    <!-- Atelier corps, mouvement et voix atelier séniors -->
          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/Danse 3.jpg"
                style="width: auto; height: auto;" alt="danse">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/Danse 3.jpg" class="profile-avatar" alt="danse">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;">Atelier corps, mouvement et voix atelier séniors
                </h4>
                <div class="card-text">
                  <br><b>Les lundis </b> de 10h00 à 11h00.
                  <br>
                  <br>
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">Se sentir bien dans son corps
                    par
                    le biais d'exercices physiques en douceur, équilibre et danse musique.
                    Chorégraphies et travail sur la mémoire !
                    <br>
                    <br>
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Atelier guitare d'accompagnement -->
          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/Guitare.jpg"
                style="width: auto; height: auto;" alt="activités guitare d'accompagnement">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/Guitare.jpg" class="profile-avatar" alt="atelier guitare d'accompagnement">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;">Atelier guitare d'accompagnement</h4>
                <div class="card-text">
                  <br><b>Débutants</b>
                  <br><b>Les lundis</b> de 19h00 à 20h00
                  <br><b>Confirmés</b>
                  <br><b>Les vendredis</b> de 10h00 à 11h00
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">
                    <br>Apprendre les techniques d'accompagnement en groupe ou en solo,
                    <br>le tout dans la bonne humeur !
                  </h6>
                </div>
              </div>
            </div>
          </div>

           <!-- Sorties culturelles-->
           <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/sortie-culture.jpg"
                style="width: auto; height: auto;" alt="sortie culturelles">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/sortie-culture.jpg" class="profile-avatar" alt="sortie culturelles">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;">Sorties culturelles</h4>
                <div class="card-text">
                  <br>Programmées au fil de l'année en fonction des possibilités
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">
                    <br>
                  </h6>
                </div>
              </div>
            </div>
          </div> 


        


          

          <!-- Activités manuelles -->



           <!-- Titre Activités enfants 4-11 ans -->
          <h2 class="text-center" style="color: rgb(0, 0, 0); margin-top: 20px;" id="manuelles">Activités manuelles</h2>
          <!-- Atelier danse rythmée -->



          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/machine.jpg"
                style="width: auto; height: auto;" alt="couture">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/machine.jpg" class="profile-avatar" alt="couture">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;"> Couture </h4>
                <div class="card-text">
                  <br><b>À l'annexe:</b> 
                  <br><b>Lundi</b>:  09h00 à 12h00 
                  <br><span style="margin-left: 20px;">ou 14h00 à 17h00</span>
                  <br><b>Mercredi</b>: 20h00 à 22h00
                  <br>
                  <br><b>Au centre:</b>
                  <br><b>Mardi</b>:  09h00 à 12h00, 
                  <br><span sty>14h00 à 18h00</span>
                  <br>ou 20h00 à 22h00 
                  <br><b>Jeudi</b>:  10h00 à 12h00,
                  <br><span style="margin-left: 25px;">14h00 à 19h00</span>
                </div>
              </div>
            </div>
          </div>



          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/cartonnage.jpg"
                style="width: auto; height: auto;" alt="cartonnage">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/cartonnage.jpg" class="profile-avatar" alt="cartonnage">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;"> Cartonnage </h4>
                <div class="card-text" id="Cartonnage" style="margin: auto;">
                  <br>Stage d'une journée, 9 à 10 stages par an,
                  <br>
                  <br>Se renseigner sur les dates
                </div>
              </div>
            </div>
          </div>

           <!-- Titre Activités enfants 4-11 ans -->
           <h2 class="text-center" style="color: rgb(0, 0, 0); margin-top: 20px;" id="sport">Sport pour tous</h2>


           <% 
                for(var i=0; i<sport.length; i++) {
                  %>
           <!-- Atelier danse rythmée -->
           <div class="d-flex align-items-stretch col-md-6">
             <div class="card card-inverse card-info">
               <img class="card-img-top" src="<%= sport[i].photo %>"
                 style="width: auto; height: auto;" >
               <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                 <figure class="profile profile-inline">
                   <img src="<%= sport[i].photo %>" class="profile-avatar" alt="sport">
                 </figure>
                 <h4 class="card-title fs-5" style="text-align: center;"><%= sport[i].titre %></h4>
                 <div class="card-text">
                   <br><%= sport[i].description1 %>
                   <br><%= sport[i].description2 %>
                 </div>
               </div>
             </div>
           </div>
           <%
          }
          %>

          <!-- Titre Activités enfants 4-11 ans -->
          <h2 class="text-center" style="color: rgb(0, 0, 0); margin-top: 20px;" id="vie">Vie quotidienne</h2>
          <!-- Atelier danse rythmée -->
          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/informatique.jpg"
                style="width: auto; height: auto;" alt="informatique">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/informatique.jpg" class="profile-avatar" alt="informatique">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;"> Informatique </h4>
                <div class="card-text">
                  <br><b>Débutants</b> 
                  <br><b>Lundi</b>:  14h00 à 16h00 
                  <br>
                  <br><b>Confirmés</b>
                  <br><b>Mardi</b>:  14h00 à 16h00, 
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Halte/cuisine.jpg"
                style="width: auto; height: auto;" alt="cuisine">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Halte/cuisine.jpg" class="profile-avatar" alt="cuisine">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;"> Atelier cuisine </h4>
                <div class="card-text">
                  <br>
                  <br><b>Mardi</b>:  09h30 à 12h00
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">  
                    <br>Partage, échange et découverte culinaire
                    <br>pendant un atelier convivial adultes
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Halte/parents.jpg"
                style="width: auto; height: auto;" alt="administratif">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Halte/parents.jpg" class="profile-avatar" alt="administratif">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;"> Echanges conviviaux </h4>
                <div class="card-text">
                  <br><b>Jeudi</b>:  14h00 à 16h30 
                  <br>
                  <br>
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;"> Lieu d'échange, de partage 
                    <br>et de convivialité entre adultes
                    <br>
                    <br>(activités manuelles, sorties, balades, 
                    <br>échanges de savoir, etc...)
                  </h6>
                  <b>Ouvert à tous</b>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/administratif.jpg"
                style="width: auto; height: auto;" alt="administratif">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/administratif.jpg" class="profile-avatar" alt="administratif">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;"> Appui aux démarches administratives </h4>
                <div class="card-text">
                  <br><b>Jeudi</b>:  14h00 à 16h00 
                  <br>
                </div>
              </div>
            </div>
          </div>

          

          <div class="d-flex align-items-stretch col-md-6">
            <div class="card card-inverse card-info">
              <img class="card-img-top" src="./images/Cuturel/francais.jpg"
                style="width: auto; height: auto;" alt="français">
              <div class="card-block" style="background-color: rgba(255, 255, 255, 0.603); text-align: center; ">
                <figure class="profile profile-inline">
                  <img src="./images/Cuturel/francais.jpg" class="profile-avatar" alt="français">
                </figure>
                <h4 class="card-title fs-5" style="text-align: center;">Cours de français </h4>
                <div class="card-text">
                  <br><b>Jeudi</b>:  14h30 à 16h00
                  <br>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <!-- As a heading -->

      <div class="container-fluid col-md-4">
        <nav class="navbar navbar-light">
          <div class="align-self-center" style="width: 100%; height: 100%;">
            <ul id="navigation">
              <h1 style="text-align: center; border: solid black;">Activités</h1>
              <li><a class="navbar-brand" style="width: 100%;" href="./images/Actu/Vacances-Noel.pdf" download style="text-align:center; color: black;"><i
                class="fas fa-download">&nbsp;Fiche d'inscription Vacances de Noël</i></a></li>
                <li><a class="navbar-brand" style="width: 100%;" href="./images/Actu/programme-2021-2022.pdf" download style="text-align:center; color: black;"><i
                  class="fas fa-download">&nbsp;Programmes d'activités 2021-2022</i></a></li>
              <li><a class="navbar-brand" style="width: 100%;" href="#culturel">Loisirs artistiques et culturels</a></li>
              <li><a class="navbar-brand" style="width: 100%;" href="#manuelles">Activités manuelles</a></li>
              <li><a class="navbar-brand" style="width: 100%;" href="#sport">Sport pour tous</a></li>
              <li><a class="navbar-brand" style="width: 100%;" href="#vie">Vie quotidienne</a></li>
          <h1 style="text-align: center; border: solid black;">Contact</h1>
        <p style="font-size: 25px; color: black;"><i class="fas fa-map-marker-alt"> 1 rue Louis Blériot,
            <br>&ensp;&ensp;88190 Golbey</i></p>
        <i class="fas fa-phone-square-alt" style="font-size: 25px; color: black;"> 03 29 34 60 85</i>
        <br>
        <br>
        <i class="fas fa-at" style="font-size: 25px; color: black;"> cslouisemichel@hotmail.fr</i>
        <br>
        <h1 style="text-align: center; border: solid black;">Horaire du secrétariat :</h1>
        <p style="font-size: 25px; color: black;">&ensp;&ensp; 09h00 à 12h00</p>
        
        <iframe style="width: 100%; height: 360px;" src="https://www.youtube.com/embed/m_mhg46OeYY"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <iframe style="width: 100%; height: 360px;" src="https://www.youtube.com/embed/UPXxfm9RE78"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <h1 style="text-align: center; border: solid black;">S'abonner à notre newsletter</h1>

        <!-- FORMULAIRE NEWSLETTER -->
        <form action="/mail" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="font-size: 25px;"> Email </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              name="email" value="" style="border: solid black;">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="font-size: 20px;">
            <label class="form-check-label" for="exampleCheck1" style="font-size: 20px;">En continuant, vous
              acceptez la politique de confidentialité</label>
          </div>
          <button type="submit" class="btn btn-outline"
            style="background-color:  rgb(41, 138, 194) ;">S'abonner</button>
        </form>
      </ul>
    </div>
  </nav>
</div>
          


        </div>
      </div>




      <!-- Messenger Plug-in Discussion Code -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function () {
          FB.init({
            xfbml: true,
            version: 'v10.0'
          });
        };

        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- Your Plug-in Discussion code -->
      <div class="fb-customerchat" attribution="setup_tool" page_id="269363320180435">
      </div>














      <!-- Bas de page -->
      <div class="card text-center" style="background: transparent;">
        <div class="card-header" style="color: black; background: transparent; margin-bottom: 10px;">
          <h1>Suivez-nous</h1>
        </div>
        <div class="card-body" style="background: transparent;">
          <a href="https://www.facebook.com/centresociallouisemichelgolbey" class="btn btn-outline"
            style="width: 60px; height: 60px; margin-bottom: 10px;">
            <img src="./images/Bas de page/facebook-square-brands.svg"></i></a>
          <a href="https://www.youtube.com/channel/UCveiS4xB037HySo1TRXHnSg" class="btn btn-outline"
            style="width: 70px; height: 70px;"><img src="./images/Bas de page/youtube-brands.svg"></i></a>
          <a href="https://www.instagram.com/centre_louise_michel_golbey/" class="btn btn-outline"
            style="width: 60px; height: 60px;margin-bottom: 10px;"><img
              src="./images/Bas de page/instagram-square-brands.svg"></i></a>
          <a href="https://www.tiktok.com/@louisemichel88190?lang=fr" class="btn btn-outline"
            style="width: 55px; height: 55px; margin-bottom: 10px;"><img
              src="./images/Bas de page/tiktok-brands.svg"></i></a>
          <!-- <a class="btn btn-outline" href="/Nous-contacter"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Nous contacter
          </a> -->
          <a class="btn btn-outline" href="/Mentions-legales"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Mentions légales
          </a>

        </div>
        <div class="card-footer text-muted">
        </div>
      </div>







    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
</body>

</html>