<!DOCTYPE html>
<html>

<head>
  <title>Centre Social Louise Michel Golbey</title>
  <meta name="description"
    content="Association loi 1901, le Centre social Louise Michel de Golbey est un lieu de proximité ouvert à tous, proposant un accueil convivial.">
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/Accueil/logo.png" alt="logo">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">
  <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit&hl=iw" async defer></script>



</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <!-- Barre de navigation -->
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./images/Accueil/logo.png" alt="logo" style="height: 50px; border-radius: 10%;"
              class="d-fluid align-center">
            Centre Social Louise Michel
          </a>

          <!-- Menu -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Accueil</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Programmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/periscolaire">Périscolaire</a></li>
                      <li><a class="dropdown-item" href="/HalteGarderie">Petite enfance</a></li>
                      <li><a class="dropdown-item" href="/prog-enfant">Enfants</a></li>
                      <li><a class="dropdown-item" href="/prog-adolescents">Adolescents</a></li>
                      <li><a class="dropdown-item" href="/adultes">Adultes</a></li>
                      <li><a class="dropdown-item" href="/Familles">Familles</a></li>
                      <!-- Vacances scolaires à mettre en com dès en fc des vacances -->
                      <!-- <li><a class="dropdown-item" href="#">Les vacances scolaires</a></li> -->
                    </ul>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/tarifs">Nos tarifs</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/Qui">Qui sommes nous?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/partenaires">Nos partenaires</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/Nous-contacter">Nous contacter</a>
                  </li>  -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <!-- Bienvenue -->
      <h1>Bienvenue au centre social Louise Michel</h1>
      <!-- <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading" style="color: black;"><img src="./images/Accueil/tools-solid.svg"
            style="width: 50px;"> &ensp;&ensp; Site en cours de construction</h4>
      </div> -->
      <!-- SLIDE -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner col-12">
        <div class="carousel-item active">
            <img src="./images/Accueil/centre.jpg" class="d-fluid w-100" alt="Centre">
          </div> 
          <div class="carousel-item">
              <img src="./images/Accueil/annexe.jpg" class="d-fluid w-100" alt="Centre">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      <!-- div actualités -->
      <div class="container-fluid">
        <div class="row">


          <!-- Actu -->
          <div class="col-md-8 col-sm-8">
            <!-- Nos actualités -->
            <h1>Nos actualités</h1>

            <div class="row col-md-12 col-xs-12" style="background: transparent; margin-right: 0%;">
              <!-- <div class="card col-md-6 col-xs-12" style="margin: 0%; border: transparent; border-radius: 0%;">
                  <img src="./images/Actu/fete.png">
                <div class="card-body">
                  <p style="color: gray;">Publié le : 03/06/2021</p>
                  <h5 class="m card-title">Le Haut du Gras renaît de ses sens....</h5>
                  <p class="m card-text">Plus d’un an qu’on attendait ce moment....</p>
                  <a class="btn btn-outline-dark m" href="/actualite" role="button" style="align-items: center; margin-top: 20px;">En savoir plus</a>
                </div>
              </div> -->

              <!-- VACANCES + PROG A TELECHARGER -->
              <div class="card col-md-6 col-xs-12"
                style="margin: 0%; border: transparent; border-radius: 0%;width: 50%;">
                <img src="./images/Actu/vacances-familles.png" class="card-img-top img_actu" style="width: auto;">
                <a href="./images/Actu/vacances-familles.pdf" download style="text-align:center; color: black; font-size: 20px;"><i
                    class="fas fa-download">Télécharger notre affiche</i></a>
                <div class="card-body">
                  <p style="color: gray;">Publié le : 30/03/2022</p>
                  <h5 class="m card-title">Les vacances familles arrivent ! 👨‍👨‍👧‍👦</h5>
                  <p class="m card-text">
                    <br><b>Au programme : <br>
                      <br>
                      - Atelier couture 🪡 <br>
                      - Décoration de pâques <br>
                      - Sortie cinéma 🎞️ <br>
                      - Sortie à Pierre Percé (pique - nique à prévoir) 🧺</b>
                </p> 
                <a  class="contact" style="color: black; padding: 10px; text-decoration: none;">Pour plus d'informations n'hésitez pas à nous joindre au</a> 
                  <i class="contact fas fa-phone-square-alt" style="font-size: 25px; color: black;" href="tel: +33329346085"><a href="tel: +33329346085" style="color: black; font-size: 0.8em; padding-left: 10px;">0329346085</a> </i>
                </div>
              </div>  

              <div class="card col-md-6 col-xs-12"
                style="margin: 0%; border: transparent; border-radius: 0%;width: 50%;">
                <img src="./images/Actu/tract-vacances-printemps-1.png" class="card-img-top img_actu" style="width: auto;">
                <a href="./images/Actu/tract-vacances-printemps.pdf" download style="text-align:center; color: black; font-size: 20px;"><i
                    class="fas fa-download">Télécharger la fiche d'inscription</i></a>
                <div class="card-body">
                  <p style="color: gray;">Publié le : 25/03/2022</p>
                  <h5 class="m card-title">Les vacances de printemps approchent à grand pas !</h5>
                  <p class="m card-text">
                    <br><b>Les thèmes proposées sont : <br>
                      <br>
                      - Du 11/04 au 15/04 : Pâques et ateliers citoyens <br>
                      - Du 18/04 au 22/04 : Olympiades </b>

                    <br>N'hésitez pas y inscrire vos enfants de 2 à 13 ans ou de vous inscrire pour les vacances famille.
                    <br>
                  <br> <b style="color: red;">Inscription obligatoire avant le Mercredi 06 Avril 2022 </b>
                </p> 
                <a  class="contact" style="color: black; padding: 10px; text-decoration: none;">Pour plus d'informations n'hésitez pas à nous joindre au</a> 
                  <i class="contact fas fa-phone-square-alt" style="font-size: 25px; color: black;" href="tel: +33329346085"><a href="tel: +33329346085" style="color: black; font-size: 0.8em; padding-left: 10px;">0329346085</a> </i>
                </div>
              </div>  

              <% 
                for(var i=0; i<actu.length; i++) {
                  %>
              <div class="card col-md-6 col-xs-12" style="margin: 0%; border: transparent; border-radius: 0%;">
                <img src="<%= actu[i].photo %>" class="card-img-top img_actu" alt="Actualités" style="width: auto;">
                <div class="card-body">
                  <p style="color: gray;">Publié le : <%= actu[i].date %></p>
                  <h5 class="m card-title"><%= actu[i].titre %></h5>
                  <p class="m card-text"><%= actu[i].para %></p>
                  <p class="m card-text"><%= actu[i].para1 %></p>
                  <p class="m card-text"><%= actu[i].para2 %></p>
                  <p class="m card-text"><%= actu[i].para3 %></p>
                  <p class="m card-text"><%= actu[i].para4 %></p>
                  <p class="m card-text"><%= actu[i].autres %></p>
                  <a  class="contact" style="color: black; padding: 10px; text-decoration: none;">Pour plus d'informations n'hésitez pas à nous joindre au</a> 
                  <i class="contact fas fa-phone-square-alt" style="font-size: 25px; color: black;" href="tel: +33329346085"><a href="tel: +33329346085" style="color: black; font-size: 0.8em; padding-left: 10px;">0329346085</a> </i>
                </div>
              </div>
              <%
                    }
                    %>
            </div>
          </div>
          <!-- As a heading -->
          <div class="container-fluid col-md-4 col-sm-4">
            <nav class="navbar navbar-light">
              <div class="align-self-center" style="width: 100%; height: 100%;">
                <ul id="navigation">
                  <h1 style="text-align: center; border: solid black;">Contact</h1>
                  <p style="font-size: 25px; color: black;"><i class="fas fa-map-marker-alt"> 1 rue Louis Blériot,
                      <br>&ensp;&ensp;88190 Golbey</i></p>
                  <i class="fas fa-phone-square-alt" style="font-size: 25px; color: black;"><a href="tel: +33329346085" style="color: black; padding: 10px;">03 29 34 60 85</a> </i>
                  <br>
                  <br>
                  <i class="fas fa-at" style="font-size: 25px; color: black;"><a href="mailto:cslouisemichel@hotmail.fr" style="color: black;">cslouisemichel@hotmail.fr</a></i>
                  <br>
                  <h1 style="text-align: center; border: solid black;">Horaire du secrétariat :</h1>
                  <div style="font-size: 25px; color: black;">
                  <p style=" text-decoration: underline;">Le lundi, mardi, mercredi et jeudi :
                  <p style="text-align:center; ">de 08h45 à 12h00 </p>
                  <p style="text-align:center">de 13h45 à 18h</p>
                  <p style=" text-decoration: underline;">Le samedi :</p>
                  <p style="text-align:center"> de 9h00 à 12h00</p>
                  </div>
                  
                  <h1 style="text-align: center; border: solid black;">Activités</h1>
                  <li><a class="navbar-brand" style="width: 100%;" href="./images/Actu/tract-vacances-printemps.pdf" download style="text-align:center; color: black;"><i
                    class="fas fa-download">&nbsp;Fiche d'inscription Vacances de printemps 2022</i></a></li>
                    <li><a class="navbar-brand" style="width: 100%;" href="./images/Actu/programme-2021-2022.pdf" download style="text-align:center; color: black;"><i
                      class="fas fa-download">&nbsp;Programmes d'activités 2021-2022</i></a></li>
                  <li><a class="navbar-brand" style="width: 100%;" href="/periscolaire">Périscolaire</a></li>
                  <li><a class="navbar-brand" style="width: 100%;" href="/HalteGarderie">Halte Garderie</a></li>
                  <li><a class="navbar-brand" style="width: 100%;" href="/prog-enfant">Enfants</a></li>
                  <li><a class="navbar-brand" style="width: 100%;" href="/prog-adolescents">Adolescents</a></li>
                  <li><a class="navbar-brand" style="width: 100%;" href="/adultes">Adultes</a></li>
                  <li><a class="navbar-brand" style="width: 100%;" href="/Familles">Familles</a></li>
                  <iframe style="width: 100%; height: 360px;" src="https://www.youtube.com/embed/m_mhg46OeYY"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <iframe style="width: 100%; height: 360px;" src="https://www.youtube.com/embed/UPXxfm9RE78"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <h1 style="text-align: center; border: solid black;">S'abonner à notre newsletter</h1>

                  <!-- FORMULAIRE NEWSLETTER -->
                  <form action="/mail" method="POST">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" style="font-size: 25px;"> Email </label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email" value="" style="border: solid black;">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1" style="font-size: 20px;">
                      <label class="form-check-label" for="exampleCheck1" style="font-size: 20px;">En continuant, vous
                        acceptez la politique de confidentialité</label>
                    </div>
                    <button type="submit" class="btn btn-outline"
                      style="background-color:  rgb(41, 138, 194) ;">S'abonner</button>
                  </form>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>


      <!-- Messenger Plug-in Discussion Code -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function () {
          FB.init({
            xfbml: true,
            version: 'v10.0'
          });
        };

        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- Your Plug-in Discussion code -->
      <div class="fb-customerchat" attribution="setup_tool" page_id="269363320180435">
      </div>



      <!-- Bas de page -->
      <div class="card text-center" style="background: transparent;">
        <div class="card-header" style="color: black; background: transparent; margin-bottom: 10px;">
          <h1>Suivez-nous</h1>
        </div>
        <div class="card-body" style="background: transparent;">
          <a href="https://www.facebook.com/centresociallouisemichelgolbey" class="btn btn-outline"
            style="width: 60px; height: 60px; margin-bottom: 10px;">
            <img src="./images/Bas de page/facebook-square-brands.svg" alt="Facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCveiS4xB037HySo1TRXHnSg" class="btn btn-outline"
            style="width: 70px; height: 70px;"><img src="./images/Bas de page/youtube-brands.svg" alt="YouTube"></i></a>
          <a href="https://www.instagram.com/centre_louise_michel_golbey/" class="btn btn-outline"
            style="width: 60px; height: 60px;margin-bottom: 10px;"><img
              src="./images/Bas de page/instagram-square-brands.svg" alt="Instagram"></i></a>
          <a href="https://www.tiktok.com/@louisemichel88190?lang=fr" class="btn btn-outline"
            style="width: 55px; height: 55px; margin-bottom: 10px;"><img src="./images/Bas de page/tiktok-brands.svg"
              alt="TikTok"></i></a>
          <a class="btn btn-outline" href="/Nous-contacter"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Nous contacter
          </a>
          <a class="btn btn-outline" href="/Mentions-legales"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Mentions légales
          </a>

        </div>
        <div class="card-footer text-muted">
        </div>
      </div>








    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
</body>

</html>